/.metadata/
/.recommenders/
/.xd/
/output/
/Servers*/
/target/
*.log
*.class
drumbeat-rdf.jena.provider.virtuoso/target/*
drumbeat-rdf.jena.provider/target/*
drumbeat-resources/.settings/org.eclipse.wst.common.component
